body{
    font-family: 'Montserrat', sans-serif; 
}
#title{
    background:url("/images/icon.jpg") no-repeat center center/cover;
    /* background-image: url("")no-repeat center center/cover; */
    color: white;
    height: 100%;
    opacity: 0.80;
}
h1{
    font-family: 'Montserrat', sans-serif; 
    line-height: 1.7;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-weight: bold;
    color: white;
    line-height: 1.5;
}
em{
    font-weight: bold;
    color: white;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% 7%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

/* navbar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'ubuntu', sans-serif; 
    font-size: 2rem;
    font-weight: bold;
    margin-left: -15%;
    /* background-color:rgb(210, 183, 236); */
    
}

.nav-item {
    padding: 0 18px;

}

/* Download-btn */
.Download-btn
{
    margin: 5% 3% 5% 0%;
}



/* features */
#features{
    padding: 2% 15%;
    background-color: white;
    position: relative;
    
}
.features-box{
    text-align: center;
    padding: 5%;
}
.icon{
    /* color: #003347; */
    color: orange;
    margin-bottom: 1rem;
}
.icon:hover{
    /* color: #734cff; */
    color: paleturquoise;
}
/* !-- Testimonials -- */
#testimonials{
     text-align: center;
    background-color: #003347 ;
    
}

.carousel-item{
    padding: 7% 15%;
}



/* footer */

#footer{
    text-align: center;
    padding: 3% 7%;
    background-color: #0ad6d6fd;
    color:black;
    }
.footer-icon{
    margin: 2% ;
}



.donation-img{ 
    display: flex;  
    justify-content: center;
}
.img-do{
    height: 250px;
    width: 300px;
    margin-top: 20px;
    margin-left: 25px;
    border: 5px solid black;
    
   
}

.row-al{
    text-align: center;
}
ul{
    text-align: left;
}